.edit {
  background: cadetblue;
  margin: 2rem;
  padding: 2rem;
}

.edit__box {
  overflow: auto;
  max-height: 20rem;
}

.edit-row {
  display: flex;
  margin: 1rem 0;
}

.edit-row__item {
  margin-right: 1rem;
}

.edit__new-item {
  white-space: nowrap;
}
